
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-mydb}
      POSTGRES_USER: ${POSTGRES_USER:-myuser}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-mypassword}
    volumes:
      - ./.pgdata/db:/var/lib/postgresql/
      
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -p 5432 -U myuser -d mydb"]

      interval: 1s
      timeout: 1s
      retries: 5
      start_period: 30s
    ports:
      - '5432:5432'

