@import "tailwindcss";

@theme {
    --color-ieee-blue: #00629B;
    --color-ieee-light-blue: #0078B4;
    --color-ieee-dark: #003C71;
    --color-ieee-accent: #00A3E0;
    --color-vibrant-blue: #4A90E2;
    --color-vibrant-blue-dark: #357ABD;
}